.carousel {
  width: 100%; }

.navbar {
  background-color: rgba(0, 0, 0, 0.9); }
  .navbar .navbar-toggler {
    display: flex;
    align-items: center;
    margin: 0 auto; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      background-color: none;
      align-items: center;
      justify-content: center;
      display: flex; }
  .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: white; }

.contain {
  margin: 0 auto;
  width: 90%;
  height: 140vw;
  border: 1px solid black; }
  .contain .divider {
    width: 100%;
    height: 62px; }

@media all and (min-width: 576px) {
  body {
    background-color: yellow; }
  .contain {
    height: 100vw; } }

@media all and (min-width: 768px) {
  body {
    background-color: red; }
  .contain {
    height: 80vw; } }

@media all and (min-width: 992px) {
  body {
    background-color: blue; }
  .contain {
    height: 70vw; } }

@media (min-width: 1200px) {
  body {
    background-color: green; }
  .contain {
    height: 45vw; } }
