// don't forget to leave comments while coding
// and have fun!
// product works good
.product {
  height: auto !important;
}
.first {
  margin-bottom: 20px;
}

.card-title {
  color: white;
  text-align: center;
}

.card-body {
  background-color: $ch-tint50;
}

.card-text {
  color: white;
}

.containercards {
  .btn {
    display: flex;
    justify-items: center;
  }
  .card {
    margin: 0 auto;
  }
}

.btn-primary {
  color: $white;
  background-color: $algonquin-green;
  border-color: $algonquin-green;
  justify-content: center;
}

.btn-primary:hover {
  background-color: $ch-tint50;
  border-color: $algonquin-green;
}

button.btn.btn-link.collapsed {
  color: white;
  margin: 0 auto;
}

.accordion > .card .card-header {
  margin-bottom: -1px;
  background-color: $charcoal;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
  text-align: center;
}

// control of visibility
.pro-desk {
  display: none;
}

// test
.test-area {
  display: block;
}

.mobile-test,
.desktop-test {
  width: 100%;
  height: 100px;
  background-color: blue;
}

.desktop-test {
  display: block;
}

.pro-desk {
  display: block;
}

.cardgap {
  background-color: #43b02a;
  height: 50px;
}

.container {
  padding-left: 0;
  // display: flex;
  //   justify-items: center;
}

.desktopview {
  display: none;
}
// @media (max-width: 1300px) {
// }
@media (min-width: 1350px) {
  .desktopview {
    display: block;
  }
  .mobileview {
    color: yellow;
    display: none;
  }
}
.blankline {
  color: white;
}

.card {
  background-color: transparent;
}
