// don't forget to leave comments while coding
// and have fun!
.card-title { 
  color: white;
  text-align: center;
}

.card-body {
  background-color: $algonquin-green;
}

.card-text {
  color: white;
}
.cards{
  .btn{
    display: flex;
    justify-items: center;
    
  }
}
