


.service{
  max-width: 100%;
  border: 2px solid black;
}
.accordion{
    margin:3.8%;
    font-family: arial;
}

.logo-ss {
  background-color: #006341;
}

.web-ss {
  background-color: #338267;
}

.bcard-ss {
  background-color: #66A18D;
}

.brand-ss {
  background-color: #A6C8BC;
}

.word{
  text-align: center;
}

.collapsed{
  color: black;
  font-size: 2rem;
}
@media (min-width: 1200px){
.accordion {
  margin:3.8%;
  margin-left: 10%;
    display: flex;
    max-width: 80%;
    justify-content: space-around;

  }
  h2{
    text-align: left;
    font-size: 2rem;
  }
  .accordion .card{
    max-width:100%;
    flex-direction: row;
    }
  .card-header{
    max-width: 100%;
  }
  .same{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;;
  }
  h2{text-align: center;;}
  .same img{

      }

}


.align{
  margin-left:30%;
    margin-right: auto;
}
.btncenter{
  border-radius: 10%;
  background-color: #59A5FF;
  width:25%;
  color:$algonquin-green;
}
.btncenter:hover{
  background-color: white;
  border:1px solid black;
}
.same p{
  font-size: 1.25rem;
}
