// main variables
$nav-height-mobile: 62px;
$nav-height-desktop: 82px;
// section height
$section-height-mobile: 140vw;
$section-height-tabsm: 100vw;
$section-height-tablg: 80vw;
$section-height-desksm: 70vw;
$section-height-desklg: 45vw;
// home variables

// product variables

// service variables

// contact variables
