// scss works good
// import partials
@import 'variables';
@import 'home';
@import 'service';
@import 'product';
@import 'contact';

// navigation

// main layout
.contain {
  margin: 0 auto;
  width: 90%;
  height: $section-height-mobile; 
  border: 1px solid black;
  .divider {
    width: 100%;
    height: $nav-height-mobile;
  }
}

@media all and (min-width: 576px) {
  body {
    background-color: yellow;
  }
  .contain {
    height: $section-height-tabsm;
  }
}

@media all and (min-width: 768px) {
  body {
    background-color: red;
  }
  .contain {
    height: $section-height-tablg;
  }
}

@media all and (min-width: 992px) {
  body {
    background-color: blue;
  }
  .contain {
    height: $section-height-desksm;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: green;
  }
  .contain {
    height: $section-height-desklg;
  }
}
